<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-skyblue">
    <a class="navbar-brand" href="#">Registro de categorías</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Agregar Categoría</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<app-categories></app-categories>
<br>
<br>
<app-verCategories></app-verCategories>